
#bemvindo, #imgveiculo, #titulo_cep, #titulo_compra, #titulo_palindromos{
    margin-left: 155.5px;
}

#botao_carro, #botao_moto, #botao_enviar{
    margin-left: 28px;
}

#problema1{
    margin-left: 54.5px;
}

#problema2{
    margin-left: 54.5px;
}

#problema3{
    margin-left: 54.5px;
}

#problema4{
    margin-left: 54.5px;
}

#titulo1, #titulo2, #titulo3, #titulo4{
    background-color: rgb(0, 173, 173);
}
